<div class="table" ng-init="loadAssessment()">
	<div class="tr1">
	<div class="td1">
		<x-animated-pages  ng-init="loadQuestion()" ng-click="selectOption('selection')" text="{{question}}" options="{{options}}" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation"></x-animated-pages>
	</div>
	</div>
	<div class="tr2">
	<div class="td2">
		<paper-button id="previousDisabled" raised disabled ng-show="sharedProperties.currentId==0"><iron-icon icon="image:navigate-before"></iron-icon>prev</paper-button>
		<paper-button id="previous" raised class="blue" ng-show="sharedProperties.currentId!=0" ng-click="previous()"><iron-icon icon="image:navigate-before"></iron-icon>prev</paper-button>
		<paper-button id="next" raised class="blue" ng-show="sharedProperties.currentId!=sharedProperties.assessment.length-1" ng-click="next()">next<iron-icon icon="image:navigate-next"></iron-icon></paper-button>
		<paper-button id="finish" raised class="blue" ng-show="sharedProperties.currentId==sharedProperties.assessment.length-1" ng-click="finish()"><iron-icon icon="check"></iron-icon>finish</paper-button>
	</div>
	</div>
	<!-- <neon-animated-pages id="pages" class="horizontal center-justified layout"  ng-init="loadQuestion()" selected="[[selected]]" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
		<neon-animatable>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
		<neon-animatable>
			<div class="horizontal-section">
				<div ng-include="'question.html'"></div>
				<div ng-include="'navButtons.html'"></div>
			</div>
		</neon-animatable>
	</neon-animated-pages> -->
</div>
