<link rel="import" href="../../components/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../components/bower_components/paper-button/paper-button.html">
<link rel="import" href="../../components/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../components/bower_components/paper-input/paper-input.html">
<link rel="import" href="../../components/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../components/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../components/bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../../components/bower_components/paper-input/demo/ssn-input.html">
<link rel="import" href="../../components/bower_components/paper-input/demo/ssn-validator.html">
<link rel="import" href="../../components/bower_components/paper-styles/color.html">
<link rel="import" href="../../components/bower_components/polymer/polymer.html">
<dom-module id="x-form-dialog">
  <style>
  .button {
    margin-bottom: 24px;
    text-transform: none;
  }
  .left-text {
    text-align: left;
  }
  .center{
    top: 10%;
    transform: translate(0,10%);
  }
  .hover:hover {
    background: #e1f5fe; /*--paper-light-blue-50*/
    color: #03a9f4;  /*--paper-light-blue-500*/
  }
  .stack {
    display: inline-block;
    width:100%;
  }
  .dialog-desktop {
    width: 100%;
    height: 100%;
    /*margin-bottom: 10%;*/

  }
  </style>
  <template>
    <paper-dialog id="modal"  class="dialog-desktop" modal with-backdrop entry-animation="scale-up-animation" exit-animation="scale-down-animation" fit>
      <div class="vertical center-justified layout">
      <h3>{{text}}</h3>
      <div class="vertical-section">
      <paper-input class="left-text hover" label="First Name" value="{{ session.firstName }}" required></paper-input>
      <paper-input class="left-text hover" label="Last Name" value="{{ session.lastName }}" required></paper-input>
      <paper-input-container always-float-label auto-validate attr-for-value="value">
        <label>Social Security Number</label>
        <ssn-input class="paper-input-input" value="{{ session.SSN }}"></ssn-input>
        <paper-input-error>SSN invalid!</paper-input-error>
      </paper-input-container>
      <br>
      <paper-button class="button left-text hover" raised on-click="submit">Submit</paper-button>
      </div>
    </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is:'x-form-dialog',
      properties: {
        session: Object,
        text: String
      },
      submit: function(){
        this.session.eventType = "submitUserInfo";
      },
      ready: function() {
        var dialog = document.getElementById("modal");
        if (dialog) {
        	dialog.open();
        }
      }
    });
  </script>
</dom-module>
