<link rel="import" href="../../components/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../components/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../components/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../components/bower_components/paper-styles/color.html">
<link rel="import" href="../../components/bower_components/polymer/polymer.html">
<dom-module id="x-options">
  <style>
  .blue {
    border-color:  #e1f5fe; /*--paper-light-blue-900*/
    color:  #e1f5fe; /*--paper-light-blue-900*/
  }
  .hover:hover {
    background-color: #e1f5fe; /*--paper-light-blue-50*/
    color: #03a9f4;  /*--paper-light-blue-500*/
  }
  .stack {
    display: inline-block;
    width:100%;
  }


  </style>
  <template>
      <paper-radio-group>
      <template is="dom-repeat" items="{{options}}">
        <paper-radio-button class="hover blue stack" id="{{item.id}}" name="{{item.id}}" on-mouseover="onhover" on-mouseout="onunhover" on-click="click">{{item.text}}</paper-radio-button>
      </template>
      </paper-radio-group>
  </template>
  <script>
    Polymer({
      is:'x-options',
      properties: {
        text: String,
        options: Array,
        selection: String
      },
      click: function(e){
          var model = e.model;
          this.selection = model.get('item.id');
      },
      onhover: function(e){
        // var element = e.currentTarget;
        // if(element){
        //   this.selection = element.id;
        //   element.style.color = '#03a9f4';  //--paper-light-blue-500
        //   element.style.background =  '#e1f5fe'; //--paper-light-blue-50
        // }
      },
      onunhover: function(e){
        // var element = e.currentTarget;
        // if(element){
        //   this.selection = '';
        //   element.style.color = '';
        //   element.style.background = '';
        //}
        // //clear style on previous element
        // var prevElement = document.getElementById(this.selection);
        // if(prevElement){
        //   prevElement.style.color = '';
        //   prevElement.style.background = '';
        // }
      },
      ready: function() {
      }
    });
  </script>
</dom-module>
